[Unit]
Description=image-cri-shim

[Service]
ExecStart={{ default "/usr/bin" .BIN_DIR }}/image-cri-shim -f /etc/image-cri-shim.yaml
Restart=always
StartLimitInterval=0
RestartSec=10
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
LimitNOFILE=1048576
TasksMax=infinity

[Install]
WantedBy=multi-user.target
